
<div class="header contact-header">
      <h1>
        <a href="#contact">For more details contact us :</a>
      </h1>
</div>
  <div class="row">
    <div class="contact-name">
      <h1>SHWETA PATIL
      </h1>
    </div>
    <div class="details">
      <p>
        <a href="#">
          <span class="glyphicon glyphicon-envelope"></span>
        </a>
        Email : shwetzpatil@gmail.com
      </p>
      <p>
        <a href="#">
          <span class="glyphicon glyphicon-phone"></span>
        </a>Phone No : +447438856372
      </p>
      <p>
        <a href="#">
          <span class="glyphicon glyphicon-home"></span>
        </a>
        Address :
        <br> Hurricane House
        <br> Coombe Lane
        <br> Raynes Park
        <br> SW20 0BW
        <br> LONDON.
      </p>
    </div>  
  </div>