<div class="container-fluid index-page body-content-wrapper">
  <h1>Welcome to Girls world</h1>
  <h2>What is Hot now!</h2>
  <%= image_tag("kit.jpg", class: "img-responsive my-image", alt: "makeupkit") %>
</div>  
