<div class="container-fluid body-content-wrapper">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>Thank you. We have received your messege and will respond as soon as possible.</p>
    </div>
  </div>
</div>