<div class="container-fluid body-content-wrapper"> 
  <table>
    <tbody>
      <tr>
        <td><p>You have received a new contact form message from <%= @name %> with email id <%= @email %>. The contents of the message are:</p></td>
      </tr>
      <tr>
        <td><p><%= @message %></p></td>
      </tr>
    </tbody>
  </table>
</div>  