<div class="container-fluid body-content-wrapper">
  <table>
    <tbody>
          <tr>
            <td><p>hello <%= @orderUserName %>, <br>
            Thank you for purchasing <%= @orderName %>.
            The payment of <%= @orderTotal%> has been credited.
            Your order has been placed successfully.
            </p></td>
          </tr>
          <tr>
            <td>
              <p>Thank you.<br> 
              CoverGirl team
              </p>
            </td>
          </tr>
        </tbody>
  </table>
</div>