/* line 4, /Users/sagarpatil/shwetz/github/ruby-on-rails/app/assets/stylesheets/products.scss */
body {
  margin-top: 100px;
}

/* line 8, /Users/sagarpatil/shwetz/github/ruby-on-rails/app/assets/stylesheets/products.scss */
h1 {
  color: red;
  margin-top: 100px;
  font-size: 30px;
}

/* line 14, /Users/sagarpatil/shwetz/github/ruby-on-rails/app/assets/stylesheets/products.scss */
th {
  color: blue;
  border: 10x solid black;
  padding: 20px;
  text-align: center;
  border: 2px solid black;
}

/* line 22, /Users/sagarpatil/shwetz/github/ruby-on-rails/app/assets/stylesheets/products.scss */
table {
  border: 2px solid black;
}

/* line 26, /Users/sagarpatil/shwetz/github/ruby-on-rails/app/assets/stylesheets/products.scss */
.field {
  margin: 20px;
}
/* line 12, /Users/sagarpatil/shwetz/github/ruby-on-rails/app/assets/stylesheets/simple_pages.scss */
body {
  text-align: center;
}

/* line 16, /Users/sagarpatil/shwetz/github/ruby-on-rails/app/assets/stylesheets/simple_pages.scss */
.my-image {
  display: inline;
}

/* line 19, /Users/sagarpatil/shwetz/github/ruby-on-rails/app/assets/stylesheets/simple_pages.scss */
footer {
  background-color: #b6dded;
  color: red;
  width: 100%;
  bottom: 0;
  height: 50px;
  padding: 10px;
  display: block;
  overflow: auto;
  text-align: center;
  float: left;
  margin-top: 50px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

  
