// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: red;
  font-family: 'Times New Roman', Times, serif;
  font-size: 500;
  margin-top: 100px;  
  text-transform: uppercase;
}

.copy-right {
  text-align: center; 
  color: red;
  background-color: #b6dded;
  width: 100%;
  height: 80px;
  padding: 20px;
  line-height: 5px;
  display: block;
}
