// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// application layout page
html{
  position: relative;
  min-height: 100%;
}
body{
  background: rgb(102, 102, 101);
  min-height: 100%;
  text-align: center;
}

.body-content-wrapper{
  min-height: 100%;
  margin-bottom: 100px; //height of the footer plus some padding
  margin-top: 50px;
}

footer {
  background-color: #13191b;
  color: red;  
  width: 100%;
  bottom: 0;
  height: 50px;
  padding:10px;
  display: block;
  overflow:auto;
  text-align:center;
  float:left;
  margin-top:50px;
  position: absolute;
}


// contact page
.contact-info {
  padding: 20px;
  margin-top: 20px;
}

.contact-form {
  padding: 20px;
  text-align: left;
}

.contact-form-body {
  padding: 30px;
}

// index page
.my-image{
  width: 100%;
  text-align: center;
  padding: 70px;
  border-radius: 100px;
 
}