<div class="container-fluid body-content-wrapper">
  <p id="notice"><%= notice %></p>

  <div style="font-size:20px;"><%= link_to 'New Product', new_product_path %></div>

  <h1>Products</h1>
    <div class="row">
      <% @products.each do |product| %>
      <%= render partial: "product", locals: {product: product} %>
      <% end %>  
    </div> 
  <br>
 </div>